body {
    width: 70%;
    height: auto;
    text-align: center;
    align-items: center;
    background-color: bisque;
}

.boxed {
    border: 2px solid palevioletred;
    margin: 10px;
    background-color: beige;
}

.flexed {
   display: flex; 
   flex: 1;
   justify-content: space-between;
}

.center_Box {
    flex: 0 1 70%;
}

.gameDesc {
    font-style: italic;
}

.centerBottom_Box {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.lateral_Box {
    display: flex;
    flex: 0 1 15%;
    flex-direction: column;
    justify-content: space-between;
}

.scores {
    display: flex;
    justify-content: space-around;
}

#playerBoard, #computerBoard {
    padding: 0;
    display: block;
}

li {
    list-style-type: none;
    align-items: center;
    margin: 5px 0;
}

.wins {
    color: rgb(34, 150, 5);
}

.losses {
    color: rgb(139, 1, 1);
}
